flask
pillow
pytesseract
speechrecognition
sentence-transformers
python-dotenv
pyaudio
PyPDF2
gtts
truststore
faiss-cpu
langchain-community
langchain-huggingface
langchain-core
gunicorn
deep-translator
